/* AUTH */

.page-header {
    margin-left: 30px;
}

.form-group {
    width: 300px;
}

#exampleCheck1 {
    margin-left: 10px;
}

/* AUTH */










#header {
    width: 326px;
    margin-left: 49px;
}

.row {
    margin-top: 18px;
    margin-left: 59px;
}


